/*
Se puede combinar este tipo de elementos, dejando un espacio entre cada propiedad
    transform: tipo() tipo() tipo(), ...

Las transiciones tambien se pueden combinar:

    transition: all 6s ease-in (Tres propiedades en una linea)
*/
div{
    height: 200px;
    width: 200px;
    background: red;
    border: 2px solid black;
    margin: 50px;
    transition-property: all;
    transition-duration: 6s;
    transition-timing-function: ease-in;
}

.aux:hover{
    transform: rotate(90deg) skew(20deg);
    background: green;
}